In [64]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [65]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [66]:
df_green.registerTempTable('green')

In [67]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [68]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [69]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [70]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [71]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [72]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [73]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [74]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [75]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [76]:
df_join = spark.read.parquet('data/report/revenue/total')

In [84]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [85]:
df_zones = spark.read.parquet('zones/')

In [86]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [88]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

In [89]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [90]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   3|              null|                null|              25.0|                    1|
|2020-01-01 00:00:00|  12|              null|                null|106.99999999999999|                    6|
|2020-01-01 00:00:00|  22|              15.8|                   1|              null|                 null|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  38| 98.78999999999999|                   2|              null|                 null|
|2020-01-01 00:00:00|  42| 799.7599999999992|                  52| 635.3500000000001|                   46|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000009|                  390|
|2020-01-01 00:00:00|  59|              50.9|                   3|              null|                 null|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|
|2020-01-01 00:00:00|  92|             80.72|                   3|              75.3|                    1|
|2020-01-01 00:00:00|  95|202.20000000000005|                  15|               6.3|                    1|
|2020-01-01 00:00:00| 100|              null|                null|            473.67|                   24|
|2020-01-01 00:00:00| 123|             34.17|                   2|              null|                 null|
|2020-01-01 00:00:00| 127|              null|                null|43.900000000000006|                    3|
|2020-01-01 00:00:00| 138|              null|                null|           2745.88|                   72|
|2020-01-01 00:00:00| 161|              null|                null| 9410.210000000021|                  488|
|2020-01-01 00:00:00| 163|              null|                null| 2652.979999999998|                  152|
|2020-01-01 00:00:00| 164|              null|                null| 5448.930000000001|                  292|
|2020-01-01 00:00:00| 165|             66.14|                   2|              null|                 null|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [91]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|   3|              null|                null|              25.0|                    1|         3|    Bronx|Allerton/Pelham G...|   Boro Zone|
|2020-01-01 00:00:00|  12|              null|                null|106.99999999999999|                    6|        12|Manhattan|        Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  22|              15.8|                   1|              null|                 null|        22| Brooklyn|    Bensonhurst West|   Boro Zone|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16|        25| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 00:00:00|  38| 98.78999999999999|                   2|              null|                 null|        38|   Queens|     Cambria Heights|   Boro Zone|
|2020-01-01 00:00:00|  42| 799.7599999999992|                  52| 635.3500000000001|                   46|        42|Manhattan|Central Harlem North|   Boro Zone|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000009|                  390|        43|Manhattan|        Central Park| Yellow Zone|
|2020-01-01 00:00:00|  59|              50.9|                   3|              null|                 null|        59|    Bronx|        Crotona Park|   Boro Zone|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|        61| Brooklyn| Crown Heights North|   Boro Zone|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|        77| Brooklyn|East New York/Pen...|   Boro Zone|
|2020-01-01 00:00:00|  92|             80.72|                   3|              75.3|                    1|        92|   Queens|            Flushing|   Boro Zone|
|2020-01-01 00:00:00|  95|202.20000000000005|                  15|               6.3|                    1|        95|   Queens|        Forest Hills|   Boro Zone|
|2020-01-01 00:00:00| 100|              null|                null|            473.67|                   24|       100|Manhattan|    Garment District| Yellow Zone|
|2020-01-01 00:00:00| 123|             34.17|                   2|              null|                 null|       123| Brooklyn|           Homecrest|   Boro Zone|
|2020-01-01 00:00:00| 127|              null|                null|43.900000000000006|                    3|       127|Manhattan|              Inwood|   Boro Zone|
|2020-01-01 00:00:00| 138|              null|                null|           2745.88|                   72|       138|   Queens|   LaGuardia Airport|    Airports|
|2020-01-01 00:00:00| 161|              null|                null| 9410.210000000021|                  488|       161|Manhattan|      Midtown Center| Yellow Zone|
|2020-01-01 00:00:00| 163|              null|                null| 2652.979999999998|                  152|       163|Manhattan|       Midtown North| Yellow Zone|
|2020-01-01 00:00:00| 164|              null|                null| 5448.930000000001|                  292|       164|Manhattan|       Midtown South| Yellow Zone|
|2020-01-01 00:00:00| 165|             66.14|                   2|              null|                 null|       165| Brooklyn|             Midwood|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows